[build]
  command = "npm run build"
  publish = ".next"
  ignore = "public/wallpapers/**"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"
